@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;

}

<div class="text-center">
    <h1>Forbindelsen er åben</h1>
    <h3>Brug port: <a href="https://localhost:7120">https://localhost:7120</a></h3>

    <h3>Brug Postman til API-testing</h3>


</div>

